textarea {
    min-height: 400px;
}
.rowStyle {
    border: 1px;
    border-color: black;
    padding: 5px;
    border-style: solid;
    cursor: pointer;
}

.readStyle {
    background-color: lightgrey;
}
.unreadStyle {
    background-color: white;
}

.headerStyle {
    height: 200px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

#email-buttons {
    margin-top: 1em;
}

.btn-sm {
    margin-right: 0.25em;
}
